header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 100;
    background-color: white;
    @include box-shadow(0 2px 10px 0 rgba(0,0,0,.1));
    >.container {
        @include vertical-horizontal-align(absolute);
    }
    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btns-container {
        text-align: right;
        &.center-important {
            @include breakpoint($xs) {
                text-align: center;
                .register {
                    padding: 5px 20px;
                }
            }
        }
    }
    .show-on-mobile {
        display: none;
        @include breakpoint($sm-down) {
            display: inline-block;
        }
    }
    .hide-on-mobile {
        @include breakpoint($sm-down) {
            display: none;
        }
    }
    .logged-user-right-nav {
        > .hidden-box-parent {
            color: black;
            font-size: 0;
            display: inline-block;
            padding: 15px 0;
            position: relative;
            cursor: pointer;
            .color-white-on-hub {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            figure.header-avatar {
                width: 50px;
                margin-left: 10px;
                overflow: hidden;
                @include rounded(50%);
            }
        }
    }
    @include breakpoint($xs) {
        >.container {
            width: 100%;
        }
    }
}

body.home {
    overflow-x: hidden;
    &.logged-in {
        header {
            top: 0;
            z-index: 50;
            @include horizontal-align(absolute);
            background: transparent;
            box-shadow: none;
            .logged-user-right-nav {
                > .hidden-box-parent {
                    .color-white-on-hub {
                        color: white;
                    }
                }
            }
            @include breakpoint($xs)    {
                width: 100%;
            }
        }
    }
}

body.foundation {
    overflow-x: hidden;
    header {
        top: 0;
        z-index: 50;
        @include horizontal-align(absolute);
        @include breakpoint($xs)    {
            width: 100%;
        }
    }
}

body.forgotten-password, body.password-recover {
    header {
        padding-bottom: 15px;
    }
}