@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadeIn { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadeIn { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes marginTop {
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-moz-keyframes marginTop { /* Firefox */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-webkit-keyframes marginTop { /* Safari and Chrome */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}
@-o-keyframes marginTop { /* Opera */
    0%   {margin-top: 0;}
    50%  {margin-top: 15px;}
    100% {margin-top: 0;}
}

.margin-top-animation {
    @include animation(0s, 2s, marginTop, infinite);
}