.white-dark-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $dark_blue;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $dark_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue;
        background-color: white;
    }
    &:focus {
        color: white;
    }
}

.dark-blue-white-btn {
    font-size: 20px;
    color: $dark_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid white;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
    }
    &:focus {
        color: $dark_blue;
    }
}

.main-color {
    color: $main_color;
}

.main-color-bg {
    background-color: $main_color;
}

.dark-blue {
    color: $dark_blue;
}

.dark-blue-bg {
    background-color: $dark_blue;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-black-bg {
    background-color: black;
}

.blue-green {
    color: $blue_green;
}

.blue-green-bg {
    background-color: $blue_green;
}

.color-beige {
    color: $light_beige;
}

.beige-bg {
    background-color: $light_beige;
}