.white-dark-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $dark_blue;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $dark_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $dark_blue;
        background-color: white;
    }
}

.dark-blue-white-btn {
    font-size: 20px;
    color: $dark_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid white;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $dark_blue;
    }
}

.main_color {
    color: $main_color;
}

.main_color-bg {
    background-color: $main_color;
}

.dark_blue {
    color: $dark_blue;
}

.dark_blue-bg {
    background-color: $dark_blue;
}

.color_white {
    color: white;
}

.color_black {
    color: black;
}

.blue_green {
    color: $blue_green;
}

.light_gray_background {
    background-color: #fafafa;
}