$screen-md: 1200px;
$screen-sm: 992px;
$screen-xs: 768px;

$main_color: #333333;
$dark_blue: #002248;
$blue_green: #126585;
$light_gray: #3e3e3e;
$solid_gray: #aaaaaa;
$light_beige: #f7f7f7;
$light_blue: #679dca;

.main-color {
    color: $main_color;
}

.main-color-bg {
    background-color: $main_color;
}

.dark-blue {
    color: $dark_blue;
}

.dark-blue-bg {
    background-color: $dark_blue;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-black-bg {
    background-color: black;
}

.blue-green {
    color: $blue_green;
}

.blue-green-bg {
    background-color: $blue_green;
}

.color-beige {
    color: $light_beige;
}

.beige-bg {
    background-color: $light_beige;
}