.download-assets {
    hr {
        border-color: #002248;
    }
    .title-and-description {
        width: calc(100% - 100px);
        @include breakpoint($xs) {
            width: 100%;
        }
    }
    figure {
        position: relative;
        .overlay-on-hover {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            @include simple_transition(.3s);
            span {
                padding: 10px 15px;
                background-color: white;
                text-align: center;
                max-width: 90%;
                white-space: nowrap;
                @include rounded(4px);
                @include vertical-horizontal-align(absolute);
                @include breakpoint($xs) {
                    white-space: normal;
                    width: 100%;
                }
            }
        }
        &:hover {
            .overlay-on-hover {
                opacity: 1;
            }
        }
    }
    .assets-slider {
        .slick-slide {
            padding-left: 10px;
            padding-right: 10px;
            @include breakpoint($xs) {
                img {
                    width: 85%;
                    margin: 0 auto;
                }
            }
        }
        .slick-prev {
            background-image: url(/assets/uploads/arrow-left.svg);
            @include breakpoint($md-down) {
                left: -20px;
            }
            @include breakpoint($xs) {
                left: 0;
            }
        }
        .slick-next {
            background-image: url(/assets/uploads/arrow-right.svg);
            @include breakpoint($md-down) {
                right: -20px;
            }
            @include breakpoint($xs) {
                right: 0;
            }
        }
    }
    .section-social-promo-banners {
        ul {
            padding-left: 40px;
            li {
                list-style: decimal-leading-zero outside none;
            }
        }
    }
}