body.home {
    @include breakpoint($xs)    {
        .modal-backdrop.in {
            background-color: white;
            opacity: 1;
        }
    }
}

.intro-section {
    position: relative;
    .upper-box {
        position: absolute;
        left: 0;
        width: 100%;
        top: 10%;
        .btn-container {
            .mobile {
                display: none;
            }
        }
        @include breakpoint($sm-down) {
            position: static;
            .btn-container {
                .mobile {
                    display: inline-block;
                }
                .desktop {
                    display: none;
                }
            }
        }
    }
    .down-box {
        position: absolute;
        left: 0;
        width: 100%;
        top: 67%;
    }
    @media only screen and (max-width: 2000px) {
        .down-box {
            margin-left: 66.66666667%;
            width: 25%;
        }
    }
    @media only screen and (max-width: 1650px) {
        .down-box {
            margin-left: 60%;
            top: 65%;
            width: 35%;
        }
    }
    @media only screen and (max-width: 1100px) {
        .down-box {
            margin-left: 58%;
            top: 65%;
            width: 40%;
        }
    }
    picture {
        img {
            width: 100%;
        }
    }
    @include breakpoint($sm-down) {
        text-align: center;
        .upper-box {
            padding-top: 30px;
            background-image: url('/assets/uploads/mobile-background.jpg');
            background-position: center bottom 0;
            background-repeat: no-repeat;
            background-size: cover;
            .btn-container {
                transform: translateY(50%);
            }
        }
        picture {
            display: none;
        }
        .down-box {
            width: 100%;
            position: static;
            margin-left: 0;
            padding-top: 50px;
        }
    }
}
.dentists-report-section {
    margin-top: -7%;
    background-color: #f6f6f6;
    .paragraph {
        color: #555555;
    }
    .list {
        border-left: 2px solid $dark_blue;
        .list-row {
            figure {
                width: 140px;
                text-align: center;
                img {
                    width: 70px;
                }
            }
            .text {
                width: calc(100% - 140px);
                font-size: 20px;
            }
        }
    }
    @include breakpoint($lgl) {
        margin-top: -4.4%;
    }
    @include breakpoint($sm-down) {
        margin-top: auto;
    }
    @include breakpoint($xs) {
        .list {
            border: 0;
            .list-row {
                width: 70%;
                margin: 0 auto;
                figure {
                    width: 100%;
                }
                .text {
                    width: 100%;
                }
            }
        }
    }
}
.bonus-for-early-patients-section {
    position: relative;
    color: white;
    background-image: url(/assets/images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 0;
}
.testimonials-slider-section {
    .single-testimonial {
        padding: 0 15px;
        height: auto;
        .img-title-job {
            min-height: 70px;
            figure {
                border: 2px solid #000;
                width: 50px;
                height: 50px;
                overflow: hidden;
                position: relative;
                @include rounded(50%);
                img {
                    @include vertical-horizontal-align(absolute);
                }
            }
            .title-job {
                width: calc(100% - 50px);
                padding-left: 10px;
                .title {
                    font-size: 18px;
                    font-family: 'Calibri-Bold';
                    text-decoration: underline;
                }
                .job {
                    color: #777777;
                    font-size: 14px;
                    font-family: Calibri;
                }
            }
        }
        .description {
            padding-top: 5px;
            font-size: 16px;
            font-family: Calibri;
            color: #3e3e3e;
        }
    }
}
.below-testimonials-section {
    figure {
        text-align: center;
    }
    .single {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        @include breakpoint($sm-down) {
            width: 100%;
            padding-bottom: 25px;
        }
    }
}
.applications-section {
    background-image: url('/assets/images/bg.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .list {
        button {
            margin-bottom: 25px;
            &:focus {
                outline: 5px auto white;
                outline-offset: -2px;
            }
            figure {
                text-align: center;
                cursor: pointer;
                figcaption {
                    color: white;
                    font-size: 18px;
                    padding-top: 15px;
                }
            }
        }
    }
}
.google-map-section {
    iframe {
        width: 100%;
        border: 0;
        height: 555px;
        @include breakpoint($xs) {
            height: 610px;
        }
    }
}
.how-to-become-dentacoin-dentist-section {
    background-image: url('/assets/uploads/dentacoin-partner.jpg');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.options-section {
    .flex {
        .single {
            border-right: 2px solid $blue_green;
            &:last-child {
                border: 0;
            }
        }
    }
    @include breakpoint($sm-down) {
        .flex {
            display: block;
            .single {
                border: 0;
                padding-bottom: 50px;
            }
        }
    }
}
