body {
    margin: 0;
    font-family: "Lato-Regular";
    color: $main_color;
    position: relative;
    font-size: 16px;
    &.overflow-visible {
        overflow: visible !important;
    }
    &.padding-right-0 {
        padding-right: 0 !important;
    }
    &.modal-open {
        overflow: hidden;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@for $i from 0 through 30 * 2 {
    .padding-bottom-#{$i * 5} {
        padding-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .padding-top-#{$i * 5} {
        padding-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .padding-left-#{$i * 5} {
        padding-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .padding-right-#{$i * 5} {
        padding-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($lg-only)    {
        .padding-bottom-lg-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($lg-only) {
        .padding-top-lg-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($lg-only) {
        .padding-left-lg-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($lg-only) {
        .padding-right-lg-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($md-only)    {
        .padding-bottom-md-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($md-only) {
        .padding-top-md-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($md-only) {
        .padding-left-md-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($md-only) {
        .padding-right-md-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only)    {
        .padding-bottom-sm-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-top-sm-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-left-sm-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($sm-only) {
        .padding-right-sm-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .padding-bottom-xs-#{$i * 5} {
            padding-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-top-xs-#{$i * 5} {
            padding-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-left-xs-#{$i * 5} {
            padding-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .padding-right-xs-#{$i * 5} {
            padding-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    .margin-left-#{$i * 5} {
        margin-left: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-right-#{$i * 5} {
        margin-right: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-bottom-#{$i * 5} {
        margin-bottom: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    .margin-top-#{$i * 5} {
        margin-top: 0px + $i * 5!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .margin-bottom-xs-#{$i * 5} {
            margin-bottom: 0px + $i * 5!important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .margin-top-xs-#{$i * 5} {
            margin-top: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .margin-left-xs-#{$i * 5} {
            margin-left: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs) {
        .margin-right-xs-#{$i * 5} {
            margin-right: 0px + $i * 5 !important;
        }
    }
}

@for $i from 0 through 20 {
    .width-#{$i * 5} {
        width: 0% + $i * 5!important;
    }
}

@for $i from 0 through 30 * 2 {
    .max-width-#{$i * 10} {
        max-width: 0px + $i * 10!important;
    }
}

@for $i from 0 through 20 * 2 {
    @include breakpoint($xs)    {
        .max-width-xs-#{$i * 10} {
            max-width: 0px + $i * 10!important;
        }
    }
}

@for $i from 0 through 100 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}

@for $i from 0 through 100 {
    @include breakpoint($lg-only) {
        .fs-lg-#{$i} {
            font-size: 0px + $i !important;
        }
    }
}

@for $i from 0 through 100 {
    @include breakpoint($md-only) {
        .fs-md-#{$i} {
            font-size: 0px + $i !important;
        }
    }
}

@for $i from 0 through 100 {
    @include breakpoint($sm-only)    {
        .fs-sm-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}

@for $i from 0 through 100 {
    @include breakpoint($xs)    {
        .fs-xs-#{$i} {
            font-size: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    .line-height-#{$i} {
        line-height: 0px + $i!important;
    }
}

@for $i from 0 through 80 {
    @include breakpoint($lg-only)    {
        .line-height-lg-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    @include breakpoint($md-only)    {
        .line-height-md-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    @include breakpoint($sm-only)    {
        .line-height-sm-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

@for $i from 0 through 80 {
    @include breakpoint($xs)    {
        .line-height-xs-#{$i} {
            line-height: 0px + $i!important;
        }
    }
}

.italic {
    font-style: italic;
}

.hide-xs {
    @include breakpoint($xs)    {
        display: none !important;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center-lg {
    @include breakpoint($lg-only)    {
        text-align: center !important;
    }
}

.text-center-md {
    @include breakpoint($md-only)    {
        text-align: center !important;
    }
}

.text-left-md {
    @include breakpoint($md-only)    {
        text-align: left !important;
    }
}

.text-right-md {
    @include breakpoint($md-only)    {
        text-align: right !important;
    }
}

.text-center-sm {
    @include breakpoint($sm-only)    {
        text-align: center !important;
    }
}

.text-left-sm {
    @include breakpoint($sm-only)    {
        text-align: left !important;
    }
}

.text-right-sm {
    @include breakpoint($sm-only)    {
        text-align: right !important;
    }
}

.text-center-xs {
    @include breakpoint($xs)    {
        text-align: center !important;
    }
}

.text-left-xs {
    @include breakpoint($xs)    {
        text-align: left !important;
    }
}

.text-right-xs {
    @include breakpoint($xs)    {
        text-align: right !important;
    }
}

.clear-bootstrap-row {
    @include breakpoint($xs)    {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}

button, input[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

input[type='file'].hide-input {
    display: none;
}

.slick-slider {
    .slick-slide {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: transparent none;
}

.bold {
    font-weight: bold;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-right: 0 !important;
        padding-left: 0 !important;;
    }
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important{
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.display-block {
    display: block;
}

@include breakpoint($xs) {
    .display-block-xs {
        display: block;
    }
}

@include breakpoint($sm-only) {
    .display-block-sm {
        display: block;
    }
}

.margin-0-auto {
    margin: 0 auto;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.nowrap {
    white-space: nowrap;
}

.list-inline {
    margin-left: 0 !important;
}

ul, li, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #4a4a4a;
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.visibility-visible-important {
    visibility: visible !important;
}

.captcha-container {
    justify-content: center;
    .refresh-captcha {
        font-size: 20px;
        color: white;
        background-color: #21bef4;
        border: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

main.main-container {
    padding-top: 70px;
    @include simple_transition(.3s);
    &.on-going-sticky-header {
        padding-top: 50px;
    }
}

body.home {
    &.logged-in {
        main.main-container {
            padding-top: 0;
        }
    }
}

.slick-dots {
    text-align: center;
    padding: 0;
    padding-top: 15px;
    li {
        position: relative;
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        @include simple_transition(.3s);
        button {
            font-size: 0;
            line-height: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background-color: #6a6a6a;
            @include rounded(50%);
            @include simple_transition(.3s);
            &:hover {
                background-color: black;
            }
        }
        &.slick-active {
            width: 10px;
            height: 10px;
            button {
                background-color: black;
            }
        }
    }
}

.slick-prev {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/assets/images/right-arrow.svg);
    background-size: auto 100%;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    border: 0;
    cursor: pointer;
    @include breakpoint($md-down) {
        left: -15px;
    }
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(/assets/images/left-arrow.svg);
    right: -30px;
    background-size: auto 100%;
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    border: 0;
    cursor: pointer;
    @include breakpoint($md-down) {
        right: -15px;
    }
}

.bootbox {
    .close {
        opacity: .5;
    }
    .bootbox-close-button {
        margin-right: 5px;
        position: absolute;
        right: 10px;
        font-size: 26px;
        top: 0;
        margin-top: 0 !important;
    }
    @include breakpoint($sm-up) {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    &.share-video-popup {
        .modal-dialog {
            width: 95%;
            max-width: 450px;
        }
    }
    &.style-anchors {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    a {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &.login-signin-popup {
        .bootbox-close-button {
            display: none;
        }
        .modal-dialog {
            width: 95%;
            max-width: 1000px;
            .modal-content {
                background: transparent;
                border: 0;
                @include box-shadow(none);
                .modal-body {
                    padding: 0;
                    .popup-header-action {
                        a {
                            width: 50%;
                            font-size: 35px;
                            padding: 10px;
                            text-align: center;
                            border-top: 3px solid white;
                            border-left: 3px solid white;
                            border-right: 3px solid white;
                            @include rounded(4px 4px 0 0);
                            &[data-type="patient"] {
                                color: white;
                                background-color: $dark_blue;
                                border-bottom: 1px solid white;
                            }
                            &[data-type="dentist"] {
                                color: black;
                                background-color: white;
                                border-bottom: 1px solid black;
                            }
                            @include breakpoint($xs) {
                                font-size: 20px;
                                padding: 10px 5px;
                            }
                        }
                    }
                    .popup-body {
                        display: flex;
                        .dentist {
                            background: white;
                            .call-sign-up {
                                font-family: 'Calibri-Bold';
                                color: black;
                                &:hover {
                                    color: black;
                                }
                            }
                            .popup-half-footer {
                                padding: 30px 0;
                                margin-top: 50px;
                                margin-left: -15%;
                                margin-right: -15%;
                                text-align: center;
                                border-top: 1px solid black;
                                font-size: 16px;
                                a {
                                    font-family: 'Calibri-Bold';
                                    color: black;
                                    font-size: 16px;
                                    text-decoration: underline;
                                }
                                @include breakpoint($xs) {
                                    margin-top: 30px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                            .form-register {
                                .step {
                                    display: none;
                                    .pretty {
                                        white-space: normal;
                                        padding-bottom: 5px;
                                        margin-bottom: 0 !important;
                                        .state {
                                            position: relative;
                                            color: black;
                                            svg.svg {
                                                left: 0;
                                                top: 0;
                                                width: 18px;
                                                height: 18px;
                                            }
                                            i {
                                                left: 1px;
                                                top: 1px;
                                                position: absolute;
                                            }
                                            label {
                                                line-height: 20px;
                                                &:before, &:after {
                                                    left: 0;
                                                    top: 0;
                                                    width: 18px;
                                                    height: 18px;
                                                }
                                            }
                                        }
                                        input:checked~.state.p-success label:after, &.p-toggle .state.p-success label:after {
                                            background-color: $dark_blue !important;
                                        }
                                    }
                                    &.visible {
                                        display: block;
                                    }
                                    &.second {
                                        .user-type-container {
                                            .user-type {
                                                width: 50%;
                                                .custom-button {
                                                    padding: 5px 10px;
                                                    display: block;
                                                    border: 2px solid #dddddd;
                                                    color: #dddddd;
                                                    font-size: 20px;
                                                    @include rounded(4px);
                                                    .custom-radio {
                                                        margin-right: 5px;
                                                        width: 20px;
                                                        height: 20px;
                                                        line-height: 20px;
                                                        border: 1px solid #dddddd;
                                                        text-align: center;
                                                        font-size: 0;
                                                        @include rounded(50%);
                                                        .circle {
                                                            width: 10px;
                                                            height: 10px;
                                                            background-color: black;
                                                            background-color: gray;
                                                            vertical-align: middle;
                                                            display: none;
                                                            @include rounded(50%);
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    .custom-button {
                                                        color: $dark_blue;
                                                        border: 2px solid $dark_blue;
                                                        .custom-radio {
                                                            .circle {
                                                                display: inline-block;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .privacy-policy-row {
                                            input[type='checkbox'] {
                                                max-width: 170px;
                                            }
                                            label {
                                                display: block;
                                                white-space: normal;
                                                text-indent: 25px;
                                            }
                                        }
                                    }
                                    &.third {
                                        .phone {
                                            display: flex;
                                            align-items: center;
                                            .country-code {
                                                font-size: 16px;
                                                padding-right: 10px;
                                                color: black;
                                            }
                                            .input-phone {
                                                flex: 1;
                                            }
                                            input[type=number]::-webkit-inner-spin-button,
                                            input[type=number]::-webkit-outer-spin-button {
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                appearance: none;
                                                margin: 0;
                                            }
                                        }
                                    }
                                    &.fourth {
                                        .avatar {
                                            width: 180px;
                                        }
                                        .specializations {
                                            width: calc(100% - 180px);
                                            padding-left: 20px;
                                            color: black;
                                            h4 {
                                                padding-bottom: 10px;
                                            }
                                            .pretty {
                                                margin-bottom: 15px;
                                                display: block;
                                                svg.svg {
                                                    border-color: #126585 !important;
                                                }
                                                label {
                                                    text-indent: 25px;
                                                }
                                            }
                                            @include breakpoint($xs) {
                                                padding-left: 10px;
                                            }
                                        }
                                        .combobox-container {
                                            .input-group {
                                                display: block;
                                            }
                                            .input-group-addon.dropdown-toggle {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .btns-container {
                                    font-size: 0;
                                    .inline-block {
                                        width: 50%;
                                        .prev-step {
                                            display: none;
                                            color: black;
                                            font-size: 14px;
                                            font-family: 'Calibri Light';
                                            border: 0;
                                            background: transparent;
                                        }
                                        .next-step {
                                            @include breakpoint($xs) {
                                                font-size: 16px;
                                                padding: 10px 0;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .patient {
                            background-color: $dark_blue;
                            color: white;

                            .pretty {
                                white-space: normal;
                                padding-bottom: 5px;
                                margin-bottom: 0 !important;
                                .state {
                                    position: relative;
                                    color: white;
                                    svg.svg {
                                        left: 0;
                                        top: 0;
                                        width: 18px;
                                        height: 18px;
                                        border: 1px solid white;
                                        @include rounded(4px);
                                    }
                                    i {
                                        left: 1px;
                                        top: 1px;
                                        position: absolute;
                                    }
                                    input[type='checkbox'] {
                                        max-width: 170px;
                                    }
                                    label {
                                        display: block;
                                        white-space: normal;
                                        text-indent: 25px;
                                        line-height: 20px;
                                        &:before, &:after {
                                            left: 0;
                                            top: 0;
                                            width: 18px;
                                            height: 18px;
                                        }
                                    }
                                }
                                input:checked~.state.p-success label:after, &.p-toggle .state.p-success label:after {
                                    background-color: $dark_blue !important;
                                }
                            }
                            .popup-half-footer {
                                padding: 30px 0;
                                margin-top: 80px;
                                margin-left: -15%;
                                margin-right: -15%;
                                text-align: center;
                                border-top: 1px solid white;
                                color: white;
                                font-size: 16px;
                                a {
                                    font-family: 'Calibri-Bold';
                                    font-size: 20px;
                                    text-decoration: underline;
                                    color: white;
                                }
                                @include breakpoint($xs) {
                                    margin-top: 30px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        }
                        .dentist, .patient {
                            width: 50%;
                            padding-top: 50px;
                            border-bottom: 3px solid white;
                            border-left: 3px solid white;
                            border-right: 3px solid white;
                            @include rounded(0 0 4px 4px);
                            .custom-input {
                                padding: 7px 12px;
                            }
                            h2 {
                                font-size: 30px;
                                padding-bottom: 20px;
                                font-family: "Calibri Light";
                            }
                            &.patient {
                                h2 {
                                    color: white;
                                }
                            }
                            &.dentist {
                                h2 {
                                    color: black;
                                }
                            }
                            .form-register {
                                display: none;
                            }
                            .form-register, .form-login {
                                width: 80%;
                                margin: 0 auto;
                                @include breakpoint($xs) {
                                    width: 95%;
                                }
                            }
                            &.custom-hide {
                                visibility: hidden;
                                @include breakpoint($xs) {
                                    display: none;
                                }
                            }
                            @include breakpoint($xs) {
                                padding-top: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &.popup-html {
        .bootbox-close-button {
            font-size: 45px;
            margin-top: -20px;
            opacity: 1;
            color: #424242;
            position: absolute;
            right: 15px;
        }
        .modal-dialog {
            width: 95%;
            max-width: 900px;
            .modal-body {
                .bootbox-body {
                    padding: 0 8%;
                    .border-bottom {
                        border-bottom: 1px solid black;
                    }
                    .line-crossed {
                        position: relative;
                        text-align: center;
                        span {
                            background-color: white;
                            z-index: 5;
                            padding: 0 10px;
                            position: relative;
                        }
                        &:after {
                            content: '';
                            height: 1px;
                            left: 0;
                            width: 100%;
                            background-color: black;
                            @include vertical-align(absolute);
                        }
                    }
                    form {
                        padding: 0 50px;
                        text-align: left;
                        .error-handle {
                            display: block;
                        }
                        &#enrich-profile {
                            color: #888888;
                            textarea {
                                border: 1px solid #cccccc;
                                font-size: 16px;
                                width: 100%;
                                padding: 10px;
                                @include rounded(4px);
                            }
                        }
                    }
                    @include breakpoint($xs) {
                        padding: 0;
                        form {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    &.application-popup {
        .modal-dialog {
            margin-top: 30px;
            margin-bottom: 30px;
            .modal-content {
                @include rounded(25px);
            }
            width: 70%;
            max-width: 900px;
            .container-fluid {
                padding-top: 50px;
                padding-bottom: 50px;
                .content {
                    padding: 0 30px;
                    .logo {
                        width: 40%;
                    }
                    .title {
                        font-size: 32px;
                        font-family: 'Calibri-Bold';
                        padding-top: 20px;
                        padding-bottom: 10px;
                    }
                    .description {
                        line-height: 20px;
                        font-size: 16px;
                        p {
                            padding-bottom: 10px;
                            a {
                                margin-top: 10px;
                                display: inline-block;
                            }
                        }
                    }
                    .extra-html {
                        .extra-title {
                            font-family: 'Calibri-Bold';
                            font-size: 20px;
                            padding-bottom: 10px;
                            padding-top: 20px;
                        }
                        ul {
                            li {
                                padding-bottom: 5px;
                                list-style: disc inside none;
                                a {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .see-all {
                            padding-top: 15px;
                        }
                    }
                }
                .gif {
                    img {
                        @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
                    }
                }
                .video {
                    video {
                        width: 100%;
                    }
                }
            }
        }
    }
    @include breakpoint($sm-down)    {
        &.application-popup {
            .modal-dialog {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @include breakpoint($xs)    {
        a.white-blue-rounded-btn {
            font-size: 14px;
            padding: 10px 0;
            width: 100%;
            max-width: 220px;
            display: block;
            text-align: center;
        }
        .bootbox-close-button {
            font-size: 32px;
        }
        &.application-popup {
            text-align: center;
            .modal-dialog {
                .modal-content {
                    border: 0;
                    @include box-shadow(none);
                    @include rounded(6px);
                }
                .container-fluid {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    .content {
                        padding: 0;
                        .logo {
                            margin: 0 auto;
                        }
                        .description {
                            text-align: left;
                        }
                    }
                    .gif, .video {
                        display: none;
                    }
                }
            }
        }
    }
}

@include breakpoint($lg-up) {
    .container {
        width: 95%;
        max-width: 1700px;
    }
}

.custom-popup {
    visibility: hidden;
    z-index: 1045;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    overflow: auto;
    &.video {
        .popup-body {
            margin-top: 0;
            margin-bottom: 0;
            .wrapper {
                width: 100%;
                video {
                    width: 100%;
                    height: 500px;
                    @include breakpoint($xs) {
                        height: 300px;
                    }
                }
            }
        }
    }
    .popup-body {
        max-width: 900px;
        width: 90%;
        font-size: 0;
        background-color: white;
        padding: 15px;
        margin-top: 70px;
        margin-bottom: 70px;
        overflow: auto;
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
        @include vertical-horizontal-align(absolute);
        @include rounded(6px);
        .close-btn {
            font-size: 28px;
            margin-right: 5px;
            opacity: .5;
            float: right;
            font-weight: 700;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            cursor: pointer;
            margin-top: -15px;
        }
        .wrapper {
            padding-top: 40px;
            padding-bottom: 30px;
            width: 830px;
            margin: 0 auto;
            iframe {
                width: 100%;
                border: 0;
                height: 750px;
            }
            @include breakpoint($xs) {
                width: 100%;
                iframe {
                    height: 1000px;
                }
            }
        }
    }
    &.visible {
        visibility: visible;
    }
    @include breakpoint($xs) {
        background-color: white;
        .popup-body {
            width: 100%;
            max-width: none;
            margin: 0;
            position: static;
            transform: none;
            @include box-shadow(none);
        }
    }
}

nav.sidenav {
    position: fixed;
    z-index: 105;
    /*background-color: rgba(255,255,255,0.8);*/
    background-color: white;
    height: 100%;
    top: 0;
    left: 100%;
    width: 300px;
    @include simple_transition(.3s);
    .wrapper {
        height: 100%;
        position: relative;
        overflow-y: auto;
        .close-btn {
            top: 18px;
            right: 39px;
            position: absolute;
            font-size: 30px;
            color: black;
        }
        ul {
            padding-top: 70px;
            li {
                font-size: 20px;
                a {
                    display: block;
                    text-transform: uppercase;
                    color: $dark_blue;
                    padding: 10px 35px;
                    @include simple_transition(.3s);
                    @include breakpoint($md) {
                        &:hover {
                            color: white;
                            background-color: $dark_blue;
                        }
                    }
                }
                &:last-child {
                    border: 0;
                }
            }
        }
    }
    &.active {
        transform: translateX(-100%);
        -webkit-transition: translateX(-100%);
        -moz-transition: translateX(-100%);
        -o-transition: translateX(-100%);
        -ms-transition: translateX(-100%);
        @include box-shadow(-2px 2px 10px 0px rgba(0, 0, 0, 0.1));
    }
    @include breakpoint($xs)    {
        width: 100%;
    }
}

.bottom-fixed-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2000000005 !important;
    .banner {
        @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.5));
    }
    .privacy-policy-cookie {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: black;
        color: white;
        width: 100%;
        font-size: 0;
        position: relative;
        .customize-cookies {
            background-color: black;
            padding: 20px;
            color: white;
            width: 95%;
            max-width: 550px;
            bottom: calc(100% + 15px);
            @include horizontal-align(absolute);
            @include rounded(15px);
            .close-customize-cookies {
                font-size: 30px;
                color: white;
                position: absolute;
                right: 10px;
                top: 0;
            }
            .cookie-icon {
                width: 40px;
            }
            .cookies-options-list {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 0;
                ul {
                    width: 50%;
                    display: inline-block;
                    vertical-align: text-bottom;
                    li {
                        padding-bottom: 20px;
                        .pretty input[disabled]~* {
                            opacity: 1;
                        }
                        .pretty input[disabled]~.state label span {
                            opacity: 0.5;
                        }
                        .pretty {
                            input {
                                width: 18px;
                                height: 18px;
                            }
                            .svg-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 18px;
                                height: 18px;
                            }
                            label {
                                font-size: 18px;
                                padding-left: 25px;
                                text-indent: 0;
                                cursor: pointer;
                                i {
                                    color: #969696;
                                }
                                &:before, &:after {
                                    top: 0;
                                    width: 18px;
                                    height: 18px;
                                    border: 1px solid white;
                                }
                            }
                        }
                        .pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
                            background-color: black !important;
                        }
                    }
                }
            }
            .actions {
                a {
                    margin-top: 20px;
                    display: inline-block;
                    max-width: 150px;
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;
                }
            }
            .custom-triangle {
                top: calc(100% - 20px);
                background-color: black;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 50%;
                -webkit-transform: rotate(45deg) translateX(-50%);
                -ms-transform: rotate(45deg) translateX(-50%);
                transform: rotate(45deg) translateX(-50%);
                transform-origin: 0;
            }
        }
        .text {
            font-size: 18px;
            width: calc(100% - 150px);
            padding-right: 15px;
            .link {
                color: $light_blue;
                font-weight: bold;
                text-decoration: underline;
            }
        }
        .button {
            width: 150px;
            a {
                display: block;
                text-align: center;
                font-size: 16px;
                padding: 10px 0;
            }
        }
    }
    @include breakpoint($xs) {
        .privacy-policy-cookie {
            .customize-cookies {
                .cookies-options-list {
                    ul {
                        width: 100%;
                        li {
                            padding-bottom: 12px;
                        }
                    }
                }
                .actions {
                    a {
                        max-width: 115px;
                        margin-top: 10px;
                    }
                }
            }
            .text {
                width: 100%;
                padding-bottom: 15px;
            }

            .button {
                width: 100%;
            }
        }
    }
}

.response-layer {
    background-color: rgba(255,255,255,.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    .wrapper {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        @include vertical-horizontal-align(absolute);
        img {
            width: 95%;
            margin-bottom: 15px;
        }
    }
}

.line-crossed-title {
    position: relative;
    span {
        background-color: white;
        padding-right: 10px;
    }
    &:after {
        content: '';
        height: 3px;
        left: 0;
        z-index: -1;
        width: 100%;
        background-color: black;
        @include vertical-align(absolute);
    }
}

.pretty.dark-blue-style {
    &.agree-with {
        input {
            width: 90px;
        }
    }
    svg.svg {
        width: 16px !important;
        height: 16px !important;
        border: 0 !important;
        top: 1px !important;
        left: 1px !important;
    }
    label {
        &:before {
            width: 18px;
            height: 18px;
            top: 0;
            left: 0;
            border-width: 2px !important;
        }
        a {
            text-decoration: underline;
            font-family: 'Calibri-Bold';
        }
    }
    input:checked~.state.p-success label:after, &.p-toggle .state.p-success label:after {
        background-color: $dark_blue!important;
        height: 16px;
        width: 16px;
        top: 1px;
        left: 1px;
    }
}

.with-text-underline {
    text-decoration: underline;
}

.pac-container {
    z-index: 50000; }

.fb-customerchat, .fb_dialog {
    z-index: 9995 !important;  
}

.active-link {
    border-bottom: 2px solid $dark_blue;
}